.listWhite:hover {
  transition: all 0.2s;
}
.listWhite:hover {
  opacity: 1 !important;
  transition: all 0.2s;
}
.iconStyle {
  background-color: #1a1a1a;
  padding: 3px;
  color: white;
  transition: all 0.5s;
}
.iconStyle:hover {
  background-color: white;
  color: #1a1a1a;
  font-weight: bold;
  transform: translateY(-2px);
  transition: all 0.5s;
}
.iconStyle2 {
  transition: all 0.5s;
  opacity: 0.7;
}
.iconStyle2:hover {
  opacity: 1;
  transition: all 0.5s;
}
.freee {
  height: 30px;
  overflow: hidden;
  position: relative;
}

.free {
  height: 30px;
  line-height: 30px;
  margin: 0;
  position: absolute;
  left: 0;
  width: 100%;
  animation: slideText 9s infinite;
  opacity: 0;
}

.free1 {
  animation-delay: 0s;
}
.free2 {
  animation-delay: 3s;
}
.free3 {
  animation-delay: 6s;
}
.darkbtn {
  border: none;
  background-color: #1f1c1d;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.darkbtn:hover {
  box-shadow: rgba(31, 28, 29, 0.3) 1px 1px 40px;

  transform: translateY(-3px);
  transition: all 0.3s ease;
}
.whitebtn {
  background: none;
  border: none;
  border: #c8c7c7 solid 1.5px;
  font-size: 0.8rem;
  border-radius: 5px;
  font-weight: bold;
  padding: 12px !important;
  transition: all 0.3s ease;
}
.whitebtn:hover {
  transform: translateY(-3px);
  border: #1f1c1d solid 1.5px;
  background: #1f1c1d;
  color: white;
  transition: all 0.3s ease;
}
.facartshopping {
  animation: identifier1 1s ease infinite alternate;
  display: inline-block;
}
.facartshopping2 {
  animation: identifier1 1.5s infinite alternate;
  display: inline-block;
}

@keyframes identifier1 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
.div-keyboard {
  transition: all 0.4s ease;
}
.div-keyboard:hover {
  transition: all 0.4s ease;
  transform: scale(1.1);
}
.mouskeybord {
  transition: all 0.4s ease;
}
.mouskeybord:hover {
  transition: all 0.4s ease;
  transform: translateY(-10px);
}

.pcbuild,
.tel {
  transition: all 0.4s ease;
}
.faarrowright {
  transition: all 0.4s ease;
}
.TrendingNow:hover {
  .faarrowright {
    transition: all 0.4s ease;
    transform: translateX(10px);
  }
  .pcbuild,
  .tel {
    transition: all 0.4s ease;
    transform: scale(1.1);
  }
}
.Electronicsimg {
  transition: all 0.4s ease;
}
.faarrowright-2 {
  transition: all 0.4s ease;
}
.div-Electronicsimg:hover {
  .Electronicsimg {
    transition: all 0.4s ease;
    transform: scale(1.1);
  }
  .faarrowright-2 {
    transition: all 0.4s ease;
    transform: translateX(10px);
  }
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.1rem;
  --stroke: #666;
  --fill: #ffc73a;
}

.rating input {
  appearance: none;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition:
    stroke 0.2s,
    fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  transition: 0s;
  animation:
    idle 4s linear infinite,
    yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
  }

  30% {
    transform: scale(0);
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}
.rating svg {
  width: 0.9rem !important;
  height: 0.9rem !important;
}
.rating {
  display: flex;
  justify-content: start;
  align-items: start;
}
.ADDTOCARD {
  border: none;
  background-color: white;
  width: 90%;
  position: relative;
  top: -105px;
  transition: all 0.3s ease;
  opacity: 0;
  font-size: 0.9rem;
  font-weight: bold;
}
.ADDTOCARD:hover {
  color: white;
  background-color: #252223;
  transition: all 0.3s ease;
}
.card-items {
  transition: all 0.3s ease;
}
.card-items:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  transform: translateY(-2px);
}
.card-items:hover {
  .ADDTOCARD {
    transition: all 0.3s ease;
    opacity: 1;
    top: -110px;
  }
  .faheart {
    transform: translateX(-2px);
    opacity: 1;
  }
  .famagnifyingglassplus {
    transform: translateX(-2px);
    opacity: 1;
  }
}
.faheart:hover {
  color: white;
  background-color: #1a1a1a;
  transition: all 0.3s ease;
}
.faheart {
  position: relative;
  top: -230px;
  right: -200px;
  background-color: #fff;
  width: 30px;
  border-radius: 5px;
  line-height: 2;
  font-size: 0.8rem !important;
  justify-content: center;
  transition: all 0.3s ease;
  opacity: 0;
}
.famagnifyingglassplus:hover {
  color: white;
  background-color: #1a1a1a;
  transition: all 0.3s ease;
}
.famagnifyingglassplus {
  position: relative;
  top: -210px;
  right: -200px;
  background-color: #fff;
  width: 30px;
  border-radius: 5px;
  line-height: 2;
  font-size: 0.8rem !important;
  justify-content: center;
  transition: all 0.3s ease;
  opacity: 0;
}

@media (max-width: 768px) {
  .trak {
    font-size: 0.65rem !important;
  }
  .QualityGuarantee {
    font-size: 0.65rem !important;
  }
  .Support {
    font-size: 0.65rem !important;
  }
  .ADDTOCARD {
    opacity: 1 !important;
  }
  .faheart {
    opacity: 1;
    left: 15rem;
  }
  .famagnifyingglassplus {
    opacity: 1;
    left: 15rem;
  }
  .pcbuild {
    height: 6.5rem;
  }
  .tel {
    height: 6.5rem;
  }
  .TrendingNow-4 {
    display: block;
    display: flex;
    align-items: center;
    height: 25px;
    margin-top: 30px;
  }
  .Discoverourlatestarrivals {
    width: 100% !important;
  }
  .ExploreCollection {
    width: 100% !important;
  }
  .ADDTOCARD {
    transition: all 0.3s ease;
    opacity: 1;
    top: -110px;
  }
  .itemimg {
    width: 100% !important;
  }
  .CreditDebitCard {
    font-size: 0.7rem;
  }
}
.New {
  transition: all 0.2s ease;
}
.New:hover {
  transform: translateY(-10px);
  transition: all 0.2s ease;
}
.NewItem {
  transition: all 0.2s ease;
}
.NewItem:hover {
  transform: translateX(10px);
  transition: all 0.2s ease;
}
.NewItem img {
  transition: all 0.2s ease;
}
.NewItem img:hover {
  transition: all 0.2s ease;
  transform: scale(1.2);
}
.iconBlack {
  transition: all 0.5s ease;
}
.iconBlack:hover {
  background-color: #1a1a1a !important;
  color: white;
  transition: all 0.5s ease;
}
.faquoteleft {
  position: relative;
  top: -35px;
}
.cardPersons {
  transition: all 0.3s ease;
}
.cardPersons:hover {
  transition: all 0.3s ease;
  transform: translateY(-5px);
}
.warningbtn {
  transition: all 0.5s;
  background-color: #212529;
  color: white;
  border: none;
  font-weight: 600;
}
.warningbtn:hover {
  transition: all 0.5s;
  background-color: #fcb900;
  color: #212529;
}
.warningbtn4:hover {
  .faArrowRight {
    transition: all 0.5s ease;
    transform: translateX(5px);
  }
}
.faArrowRight {
  transition: all 0.5s ease;
}
.ContinueShopping:hover {
  .faarrowleftlong {
    transition: all 0.5s ease;
    transform: translateX(-5px);
  }
}
.faarrowleftlong {
  transition: all 0.5s ease;
}
.accordion-header:focus {
  border: none;
  background: none;
}
.accordion-header {
  border: none;
  background: none;
}
.accordion-item {
  border: none;
}
.accordion-button:focus {
  box-shadow: none;
  border-color: transparent;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
  color: inherit;
}
.accordion-button {
  color: #8d8d8d !important;
}
.container-Megamenu {
  display: none;    
}

.Megamenu:hover .container-Megamenu {
  display: block;  
}
.container-Megamenu2 {
  display: none;  
}

.Megamenu2:hover .container-Megamenu2 {
  display: block;
}
